.rectangle {
    height: 800px;
    width:130px;
    background-color:lightgray;
}

.right {
    position: fixed;
    left:1200px;
    top:180px
 
}

.left {
    position: fixed;
    left: 270px;
    top:180px;

}
.border {
    border:1px lightgray;
}

.bottom{
    height:100px;
    width:800px;
    position: fixed;
    left: 400px;
    bottom: 0px;
    background-color: black;
}

.top {
    height: 180px;
    width: 1058px;
    position: fixed;
    left: 270px;
    top: 0px;
    background-color:rgb(58, 57, 57);
}