.rectangle {
    width: 650px;
    position: fixed;
}

.square {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 18px;
    left: 18px;
    background-color: rgb(61, 106, 189);
}

.grey {
    height: 65px;
    background-color: lightgray;
}

.blue {
    height:100px;
    background-color:rgb(61, 106, 189);
    position: fixed;
    top: 200px
}

.seafoam {
    height: 100px;
    background-color: rgb(108, 209, 184);
    position: fixed;
    top: 300px
}

.lightGreen {
    height: 100px;
    background-color: rgb(157, 226, 161);
    position: fixed;
    top: 400px
}

.yellow {
    height: 100px;
    background-color: rgb(219, 231, 107);
    position: fixed;
    top: 500px
}

p{
    position:fixed;
    top:100px;
    left: 40px;
    text-align: left;
    width: 600px;
    font-size: 12px
}

.circle{
    width: 30px;
    height:30px;
    border-radius: 50%;
    background-color: black;
    position: fixed;
    top: 560px;
    left: 615px;
}

.question {
    position: fixed;
    top: 534px;
    left: 623px;
    font-size: 26px;
    font-weight: bolder;
    color: white;

}

